Source: pika-theme
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-theme
Architecture: all
Depends: ${misc:Depends},
	orchis-theme-gtk,
	orchis-theme-kde,
	sddm-theme-orchis,
	pika-fonts,
	pika-wallpapers,
	pika-theme-sound,
	papirus-icon-theme,
	plymouth-theme-pika-text
Description: A Meta package to install pika's collection of Themes.
