Source: pika-theme
Section: metapackages
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-theme
Architecture: all
Depends: ${misc:Depends},
	jasper-theme-gtk,
	orchis-theme-kde,
	sddm-theme-orchis,
	pika-fonts,
	pika-wallpapers,
	pika-theme-sound,
	papirus-icon-theme,
	plymouth-theme-pika-text,
	stylepak
Suggests: pika-gdm-theme
Description: A Meta package to install pika's collection of Themes.

Package: pika-gdm-theme
Architecture: all
Pre-Depends: pika-theme, gdm-tools
Depends: ${misc:Depends},
	pika-theme
Description: A package to set pika's gdm of Themes.
